* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
   }

.Name {
color: #454545;
background-color: lightblue;
height: 40px;
width: 350px;
text-align: center;
}

.Name:hover {
  color: gray;
  opacity: 0.8;
}

header {
padding: 20px;
font-family:Arial, Helvetica, sans-serif;
font-size: 17px;
background-color: #454545;
width: 100%;
}

.list {
margin: -20px 35px 0 0;
float: right;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
color: lightblue;
}

a {
  padding: 10px 20px;
  text-decoration: underline;
}

a:hover {
  opacity: 0.8;

}

ul {
    list-style-type: none;
    display: flex;
}

.img1 {
    height: 400px;
    width: 100%;
}
/* Main img */
.img-container {
    position: relative;
    text-align: center;
  }

    /* My desire to become a developer */

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: black;
    background-color: lightblue;
}

.bottom-right:hover {
  opacity: 0.8
}

h3 {
text-align: left;
font-size: 38px;
margin-right: -80px;
padding: 100px;
}

.container-line {
    display: flex;
    align-items: center;
  }
  
  .line {
    width: 5px;
    height: 250px;
    background-color: black;
    margin-left: 100px;
  }
  
  .text {
    font-size: 24px;
    padding: 40px;
  }


h4  /* Work */ {
text-align: left;
font-size: 38px;
margin-right: -80px;
padding: 30px;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-line {
    display: flex;
    align-items: center;
  }

  .vertical-line {
    border-left: 2px solid black;
    width: 10px;
    height: 1000px;
    margin-left: 250px;
  }

  .big-image {
    width: 800px;
    margin-left: 160px;
    border: 5px solid lightblue;
  }

  .big-image:hover {
    opacity: 0.8;
  }
  
  .image-column {
    display: flex;
    flex-direction: column;
  }
  
  .top-images,
  .bottom-images {
    display: flex;
    justify-content: space-between;
  }
  
  .top-images img,
  .bottom-images img {
    width: 400px;
    height: 150px;
    padding: 5px;
    margin-left: 80px;
    margin-right: -80px;
  }

  .top-images:hover ,
  .bottom-images:hover {
    opacity: 0.8;
  }
  

h5 {
 text-align: left;
font-size: 38px;
margin-left: 100px;
padding: 40px;
}

.Contact-list {
float: right;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 25px;
padding: 40px;
}

.contact-line {
    display: flex;
    align-items: center;
}

.vert-line {
    border-left: 2px solid black;
    width: 10px;
    height: 300px;
    margin-left: 320px;
  }

  